data/
output/
output*/
performance*/
working*/
training_stats*/
training_stats_2*/
training_stats_3*/
prediction_results*/
weights*/
uncertainty_maps_camvid*/
uncertainty_maps_cityspaces/
scripts/data/
prediction_results_camvid/
weights_cifar100/
*.pt
*.png
*.mp4
*.avi
*.mov
*.flv
*.wmv
